html{
    height: 100vh;
}
body{
    height: 100vh;
    background-color: #0E2954;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.calculator-body{
    background-color: #84A7A1;
    height: 400px;
    width: 300px;
}
.calculator-display{
    background-color: #1F6E8C;
    height: 40px;
}
